{% extends 'base.html' %}

{% block content %}
<div class="container">

    <table class="table table-hover table-bordered table-striped text-center" cellpadding="5" cellspacing="5"
        style="opacity: 0.95; background-color:azure">
        <thead class="text-center">
            <tr>
                <th colspan="5"><a href="../">Incomig Orders</a>/Accepted Orders&nbsp&nbsp<a href="../items">Item
                        View</a>/Order View</th>
            </tr>
        </thead>
        <thead class="">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Price</th>
                <th>Time Left</th>
                <th>Ready for pickup</th>
            </tr>
        </thead>
        {% for instance in object_list %}
        <tr>
            <td><a href="{{ instance.get_absolute_url }}">{{ instance.id }}</a></td>
            <td>{{ instance.username }}</td>
            <td>{{ instance.price }}</td>
            <td>{{ instance.get_time_left }}</td>
            {% if instance.is_ready == False %}
            <td>Order is Not Ready</td>
            {% else %}
            <td>Order is Ready</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}